<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Containers</key>
	<array>
		<dict>
			<key>APFSContainerUUID</key>
			<string>8C6F5C63-312F-4ECD-BACF-2E3D7A50AD4F</string>
			<key>CapacityCeiling</key>
			<integer>175749685248</integer>
			<key>CapacityFree</key>
			<integer>138224406528</integer>
			<key>ContainerReference</key>
			<string>disk2</string>
			<key>DesignatedPhysicalStore</key>
			<string>disk1s2</string>
			<key>Fusion</key>
			<false/>
			<key>PhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk1s2</string>
					<key>DiskUUID</key>
					<string>E86DB95D-38C8-4F9F-BFF1-170799E9C919</string>
					<key>Size</key>
					<integer>175749685248</integer>
				</dict>
			</array>
			<key>Volumes</key>
			<array>
				<dict>
					<key>APFSVolumeUUID</key>
					<string>CDF0D9CE-3F29-3F9E-BDD8-8EDFBC6F2CE3</string>
					<key>CapacityInUse</key>
					<integer>25762181120</integer>
					<key>CapacityQuota</key>
					<integer>0</integer>
					<key>CapacityReserve</key>
					<integer>0</integer>
					<key>CryptoMigrationOn</key>
					<false/>
					<key>DeviceIdentifier</key>
					<string>disk2s1</string>
					<key>Encryption</key>
					<false/>
					<key>FileVault</key>
					<false/>
					<key>Locked</key>
					<false/>
					<key>Name</key>
					<string>MacOS - Data</string>
					<key>Roles</key>
					<array>
						<string>Data</string>
					</array>
				</dict>
				<dict>
					<key>APFSVolumeUUID</key>
					<string>961EE2CE-A1CD-44E6-B6A0-9D8AC0345AB9</string>
					<key>CapacityInUse</key>
					<integer>25116672</integer>
					<key>CapacityQuota</key>
					<integer>0</integer>
					<key>CapacityReserve</key>
					<integer>0</integer>
					<key>CryptoMigrationOn</key>
					<false/>
					<key>DeviceIdentifier</key>
					<string>disk2s2</string>
					<key>Encryption</key>
					<false/>
					<key>FileVault</key>
					<false/>
					<key>Locked</key>
					<false/>
					<key>Name</key>
					<string>Preboot</string>
					<key>Roles</key>
					<array>
						<string>Preboot</string>
					</array>
				</dict>
				<dict>
					<key>APFSVolumeUUID</key>
					<string>39C225E5-DFB7-4783-BCAD-69222C6BFFE4</string>
					<key>CapacityInUse</key>
					<integer>525795328</integer>
					<key>CapacityQuota</key>
					<integer>0</integer>
					<key>CapacityReserve</key>
					<integer>0</integer>
					<key>CryptoMigrationOn</key>
					<false/>
					<key>DeviceIdentifier</key>
					<string>disk2s3</string>
					<key>Encryption</key>
					<false/>
					<key>FileVault</key>
					<false/>
					<key>Locked</key>
					<false/>
					<key>Name</key>
					<string>Recovery</string>
					<key>Roles</key>
					<array>
						<string>Recovery</string>
					</array>
				</dict>
				<dict>
					<key>APFSVolumeUUID</key>
					<string>CB682FBA-212A-4E1D-BF16-0E73FB41DF66</string>
					<key>CapacityInUse</key>
					<integer>1069056</integer>
					<key>CapacityQuota</key>
					<integer>0</integer>
					<key>CapacityReserve</key>
					<integer>0</integer>
					<key>CryptoMigrationOn</key>
					<false/>
					<key>DeviceIdentifier</key>
					<string>disk2s4</string>
					<key>Encryption</key>
					<false/>
					<key>FileVault</key>
					<false/>
					<key>Locked</key>
					<false/>
					<key>Name</key>
					<string>VM</string>
					<key>Roles</key>
					<array>
						<string>VM</string>
					</array>
				</dict>
				<dict>
					<key>APFSVolumeUUID</key>
					<string>23B71100-E367-4FC2-BB85-1DA0A9762FBD</string>
					<key>CapacityInUse</key>
					<integer>11079630848</integer>
					<key>CapacityQuota</key>
					<integer>0</integer>
					<key>CapacityReserve</key>
					<integer>0</integer>
					<key>CryptoMigrationOn</key>
					<false/>
					<key>DeviceIdentifier</key>
					<string>disk2s5</string>
					<key>Encryption</key>
					<false/>
					<key>FileVault</key>
					<false/>
					<key>Locked</key>
					<false/>
					<key>Name</key>
					<string>MacOS</string>
					<key>Roles</key>
					<array>
						<string>System</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
