<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllDisks</key>
	<array>
		<string>disk0</string>
		<string>disk0s1</string>
		<string>disk0s2</string>
		<string>disk1</string>
		<string>disk1s1</string>
		<string>disk1s2</string>
		<string>disk2</string>
		<string>disk2s1</string>
		<string>disk2s2</string>
		<string>disk2s3</string>
		<string>disk2s4</string>
		<string>disk2s5</string>
		<string>disk3</string>
	</array>
	<key>AllDisksAndPartitions</key>
	<array>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk0</string>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>EFI</string>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
					<key>DiskUUID</key>
					<string>C43F7919-F087-451E-9FBB-38C3AADD6343</string>
					<key>Size</key>
					<integer>101351936</integer>
					<key>VolumeName</key>
					<string>EFI</string>
					<key>VolumeUUID</key>
					<string>765A00CA-E17C-3295-B768-1724FD6F49C9</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Linux Filesystem</string>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
					<key>DiskUUID</key>
					<string>6EE46BDA-AEBB-4743-93A3-D562F2A8F9F3</string>
					<key>Size</key>
					<integer>163938816</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>268435456</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk1</string>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>EFI</string>
					<key>DeviceIdentifier</key>
					<string>disk1s1</string>
					<key>DiskUUID</key>
					<string>D5E8720C-E3E0-4F4F-8B77-151E1B66F9AC</string>
					<key>Size</key>
					<integer>209715200</integer>
					<key>VolumeName</key>
					<string>EFI</string>
					<key>VolumeUUID</key>
					<string>0E239BC6-F960-3107-89CF-1C97F78BB46B</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk1s2</string>
					<key>DiskUUID</key>
					<string>E86DB95D-38C8-4F9F-BFF1-170799E9C919</string>
					<key>Size</key>
					<integer>175749685248</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>176093659136</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk1s2</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk2s1</string>
					<key>DiskUUID</key>
					<string>CDF0D9CE-3F29-3F9E-BDD8-8EDFBC6F2CE3</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Data</string>
					<key>Size</key>
					<integer>175749685248</integer>
					<key>VolumeName</key>
					<string>MacOS - Data</string>
					<key>VolumeUUID</key>
					<string>CDF0D9CE-3F29-3F9E-BDD8-8EDFBC6F2CE3</string>
				</dict>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk2s2</string>
					<key>DiskUUID</key>
					<string>961EE2CE-A1CD-44E6-B6A0-9D8AC0345AB9</string>
					<key>Size</key>
					<integer>175749685248</integer>
					<key>VolumeName</key>
					<string>Preboot</string>
					<key>VolumeUUID</key>
					<string>961EE2CE-A1CD-44E6-B6A0-9D8AC0345AB9</string>
				</dict>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk2s3</string>
					<key>DiskUUID</key>
					<string>39C225E5-DFB7-4783-BCAD-69222C6BFFE4</string>
					<key>Size</key>
					<integer>175749685248</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>39C225E5-DFB7-4783-BCAD-69222C6BFFE4</string>
				</dict>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk2s4</string>
					<key>DiskUUID</key>
					<string>CB682FBA-212A-4E1D-BF16-0E73FB41DF66</string>
					<key>MountPoint</key>
					<string>/private/var/vm</string>
					<key>Size</key>
					<integer>175749685248</integer>
					<key>VolumeName</key>
					<string>VM</string>
					<key>VolumeUUID</key>
					<string>CB682FBA-212A-4E1D-BF16-0E73FB41DF66</string>
				</dict>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk2s5</string>
					<key>DiskUUID</key>
					<string>23B71100-E367-4FC2-BB85-1DA0A9762FBD</string>
					<key>MountPoint</key>
					<string>/</string>
					<key>Size</key>
					<integer>175749685248</integer>
					<key>VolumeName</key>
					<string>MacOS</string>
					<key>VolumeUUID</key>
					<string>23B71100-E367-4FC2-BB85-1DA0A9762FBD</string>
				</dict>
			</array>
			<key>Content</key>
			<string>EF57347C-0000-11AA-AA11-00306543ECAC</string>
			<key>DeviceIdentifier</key>
			<string>disk2</string>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>175749685248</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string></string>
			<key>DeviceIdentifier</key>
			<string>disk3</string>
			<key>Size</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>VolumesFromDisks</key>
	<array>
		<string>MacOS - Data</string>
		<string>VM</string>
		<string>MacOS</string>
	</array>
	<key>WholeDisks</key>
	<array>
		<string>disk0</string>
		<string>disk1</string>
		<string>disk2</string>
		<string>disk3</string>
	</array>
</dict>
</plist>
